


p{
  font-family:'Open Sans',serif;
}

#contact p{
  font-size:1em;
}

.wrap{
  overflow-x:hidden;
  width:100%;
}

.projects-header{
  margin-bottom:25px;
}
.main-area{
  color: white;
  font-weight:300;
  background-image:linear-gradient(rgba(0, 0, 0,0.8),rgba(0, 0, 0,0.7)), url("./assets/img/domenico-loia-272251-unsplash.jpg");
	height:100vh;
	background-size:cover; 
	background-position: center;
  background-attachment:fixed;
  margin-bottom:30px;
}
.main-area a{
  font-size:40px;
}
.profile-picture{
  max-height:250px;
  max-width:250px;
  border-radius:120px;
}


#about h5{
  margin-top:40px;
}

#about h1,
#projects h1,
#contact h1{
  margin-top:10px;
  text-align:center;
  margin-bottom:80px;
  font-size:58px;
}
#projects{
  margin-top:50px;
}
#about p{
  font-size:18px;
}
.about-text{
  margin-right:10%;
}

#projects h1{
  text-align:center; 
}
#projects{
  margin-top:50px;
}
.card-img-top{
  height:300px;
  width:300px;
  margin:10px 30px 0 50px;
  display:block;
}

.card-img-top.phone-image{
  height:300px;
  width:150px;
  margin-left:30%;
}
.overlay{
  font-size:10px;
  opacity:0;
  position:absolute;
  height:320px;
  width:400px;
  background: rgba(0, 0, 0, 0.5);
  transition: all .4s ease;
}
.overlay:hover{
  opacity:1;
}
.overlay h4{
  color:white;
  margin-top:20%;
}




.portfolio-main-text h3{
  display:inline-block;
  font-weight:300;
  margin:300px 0 50px 0; 
}

.language-icon{
  font-size:38px;
  display:inline;
}
.card-icon,
.language-icon {
  margin-right:5px;
  display:inline;
}
.card-icon{
  font-size:52px;
  text-align:center;
}
.main-link-icon{
  transition:0.2s;
  color:white;
  margin:5px;
}
.card{
  width:25rem;
}
.main-link-icon:hover{
  color:#7ed6df;
}
.card-title i{
  text-align:left;
}
.card-title span{
  text-align:center;
}
.col{
  margin-bottom:50px;
}
.card-link-icon{
  color:white;
  font-size:52px;
}
.main-link-icon {
  font-size:36px;
}

.card-link-icon:hover{
  color: #3498db;
}
.overlay h4{
  text-align:center;
}
.overlay a{
  margin-left:43%;
}

#contact h4{
  font-weight:300;
  margin:auto;
}
#contact {
  margin-bottom:50px;
}

nav{
  background-color:white;
}
h1, h2, h3, h4{
  /* font-family: 'Raleway', sans-serif; */
  /* font-family:'Playfair Display', sans-serif; */
  font-family:'Raleway', sans-serif;
   font-weight:300 !important;
}

@media only screen and (max-width: 845px){
    .overlay h4{
      font-size:18px;
    }
  
  .col-sm {
    text-align:center;
    margin:auto;
  }
  .col {
    text-align:center;
    margin:auto;
  }
  .card{
    width:100%;
  }

  .card-img-top{
    height:200px;
    width:200px;
  }

  
  .overlay{
    opacity:0;
    position:absolute;
    height:220px;
    width:320px;
    background: rgba(0, 0, 0, 0.5);
    transition: .2s ease;
  }

  #contact p{
    font-size:24px;
  }
}

#contact{
  color:white;
  background-color:black;
  margin:20px 0px 0px 0px;
  padding-bottom:20px;
  
}

@media only screen and (min-width:320px) and (max-width:899px){

  .overlay{
    width:100%;
    height:200px;
  }
  .card-img-top.phone-image{
    height:150px;
    width:100px;
    position:relative;
    top:0;
  }

  
  .card-img-top{
    height:150px;
    width:150px;
    margin: 5% auto;
  }
} 
@media only screen and (max-width: 900px) {

  #about img{
    margin-bottom:30px;
  }

  #about p,
  #projects p,
  #contact p{
    font-size: 14px;
  }
  #about h1,
  #projects h1,
  #contact h1{
    font-size: 28px;
  }

  .overlay a{
    margin:auto;
  }
  #projects p{
    font-size: 12px;
  }
  #projects a{
    font-size: 14px;
  }

  .card .language-icon{
    font-size:24px;
  }

  .col{
    margin-bottom:5px;
  }

  .card-img-top.phone-image{
    width:120px;
    height:180px;
    margin:auto;
  }
}

 

@media only screen and (max-width:1092px){
  .card{
    margin:auto auto 30px auto;
  }
}
  @media only screen and (max-width:500px){
    .card:last-child{
      padding:48px;
      margin:5px auto;
    }
    .card-img-top.phone-image{
      width:100px;
      height:160px;
      margin:auto;
    }   
}